.card {
    border-radius: 12px !important;
    margin:auto;
    max-width: 800px;
}

.name {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width: 500px) {
    .name {
        flex-direction: column;
        gap: 4px;
    }
}

.name > div {
    flex: 1;
}

.description, .email {
    margin-top: 20px;
}

.submit {
    font-size:20px !important;
    width: 300px;
    margin-top:30px !important;
}

@media screen and (max-width: 500px) {
    .submit{
        width: 60%;
    }
}