.card {
    border-radius: 12px !important;
    margin:auto;
    max-width: 800px;
}

@media screen and (max-width: 768px) {
    .card {
        width: 85%;
    }
}

.name {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width: 500px) {
    .name {
        flex-direction: column;
    }
}

.name > div {
    flex: 1;
}

.description, .email {
    margin-top: 20px;
}

.submit {
    font-size:20px !important;
    width: 300px;
    margin-top:30px !important;
}

.success_loading-background {
    background-color: rgb(0,0,0,0.2);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.success_loading-elements {
    width: 100%;
    margin: auto;
    position:relative;
    z-index:2;
    top: -70px;
}

.success_loading-message{
    color: rgb(25, 118, 210) ;
    align-self: center;
    font-size: 25px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.success_loading-progress-bar{
    background-color: grey !important;
    opacity: 80%; 
    height: 20px !important;
    width: 60%;
    margin: auto;
    border-radius: 15px;
}

.success_loading-progress-bar > span {
    background-color: rgb(25, 118, 210) !important;
    opacity: 100%;
}