.image-uploader {
    display: flex;
    flex-direction: column;
}
.images {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    flex-wrap:wrap;
    gap:25px;
}

.image {
    position: relative;
    display: inline-block;
    width: calc( (100% - 25px)/2 );
}

img {
    /* max-height: 300px; */
    width: 100%;
}

.cancel-icon {
    height: 30px !important;
    width: 30px !important;
    position: absolute !important;
    top: 0px;
    right: 0px;
    color: white !important;
    /* pointer-events: none; */
    background-color: grey !important;
    border-radius: 0 0 0 6px !important;
    cursor: pointer;
    z-index:99;
}

.image_upload-button {
    color:black !important;
    align-content: center;
    display: flex;
    width: fit-content;
    /* align-self: end; */
}


.add {
    display: flex;
    flex-direction: row;
    /* background-color: steelblue; */
    /* padding: 5px 7px; */
    /* border-radius: 5px; */
}
.add svg{
    vertical-align: middle;
    width: 30px !important;
    height:30px !important;
    color:grey;
}

.image_upload-text {
    font-size: 16px;
    margin-left: 5px;
    font-family: 'Helvetica';
    border-radius: 10px;
    padding-top: 6px;
    vertical-align: middle;
    color: black;
    /* display: none; */
}